@model MVCApplication.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Input</h2>

<form action='Home/Result' method='POST' align="left">
    <div>
        <label>
            What is the number of primes to calculate?:
        </label><br><br>
        <input name="Numlim" type="text" value="" />
        <br /><br />
        <label>
            What is the maximum value to calculate primes? (i.e. primes up to. . .?):
        </label><br><br>
        <input name="Numin" type="text" value="" />
        <br /><br />
        <input type="submit" value="Calculate Results" />
    </div>
</form>
